
@font-face {
    font-family: 'bakso';
    src: url(../fontes/BaksoSapi.otf);
}
body {
    text-align: center;
    justify-content: center;
    font-family: 'bakso';
}
body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
#base {
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 600px;
    max-width: 100vw;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border: 5px black solid;
    background: rgb(9,87,121);
    background: linear-gradient(90deg, rgba(9,87,121,1) 0%, rgba(0,212,255,1) 50%, rgba(9,87,121,1) 100%);
}

#titulo{
    margin-top: 10%;
    color: rgb(255,153,0);
    text-shadow: 3px 3px 0px black;
    text-transform: uppercase;
    font-size: 42px;
}

#canva {
    border: 8px black solid;
    background-color: aliceblue;
    position: relative;
    height: 210px;
    max-width: 90vw;
    border-radius: 30px;
}

.botoes {
    margin-top: 10%;
    /* position: relative; */
}

.botoes button{
    margin: 10px;
    border: 4px black solid;
    background-color: rgb(255, 153, 0);
    color: rgb(14, 14, 13);
    border-radius: 50%;
    font-size: larger;
    min-width: 100px;
}

.topLine {
    display: flex;
    justify-content: space-around;
}

#pet {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 100px;
    background-color: black;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    /* Regras de estilo para telas com largura maior ou igual a 768px */
    #titulo {
        font-size: 28px;
    }
}

